In [5]:
import urllib
from IPython.display import display, HTML
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_blobs

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

from sklearn.linear_model import LinearRegression, LogisticRegression, LogisticRegressionCV
#from sklearn.model_selection import train_test_split, KFold, cross_val_score, RepeatedStratifie
#dKFold, StratifiedKFold, GridSearchCV

from sklearn import feature_selection as fs
from sklearn.preprocessing import PowerTransformer
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from scipy import stats

In [25]:
df=pd.read_csv("abalone.csv",header=None , names =['Sex', 'Length', 'Diameter', 'Height',
'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings'])

In [29]:
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
1,M,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15
2,M,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,7
3,F,0.53,0.42,0.135,0.677,0.2565,0.1415,0.21,9
4,M,0.44,0.365,0.125,0.516,0.2155,0.114,0.155,10
...,...,...,...,...,...,...,...,...,...
4173,F,0.565,0.45,0.165,0.887,0.37,0.239,0.249,11
4174,M,0.59,0.44,0.135,0.966,0.439,0.2145,0.2605,10
4175,M,0.6,0.475,0.205,1.176,0.5255,0.2875,0.308,9
4176,F,0.625,0.485,0.15,1.0945,0.531,0.261,0.296,10
4177,M,0.71,0.555,0.195,1.9485,0.9455,0.3765,0.495,12

In [30]:
df.dtypes

Sex               object
Length            object
Diameter          object
Height            object
Whole weight      object
Shucked weight    object
Viscera weight    object
Shell weight      object
Rings             object
dtype: object

In [31]:
df.head(3)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
1,M,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15
2,M,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,7

In [32]:
df.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

In [42]:
df2=df.drop(columns="Rings")
target=df['Rings']

In [43]:
df2

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
1,M,0.455,0.365,0.095,0.514,0.2245,0.101,0.15
2,M,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07
3,F,0.53,0.42,0.135,0.677,0.2565,0.1415,0.21
4,M,0.44,0.365,0.125,0.516,0.2155,0.114,0.155
...,...,...,...,...,...,...,...,...
4173,F,0.565,0.45,0.165,0.887,0.37,0.239,0.249
4174,M,0.59,0.44,0.135,0.966,0.439,0.2145,0.2605
4175,M,0.6,0.475,0.205,1.176,0.5255,0.2875,0.308
4176,F,0.625,0.485,0.15,1.0945,0.531,0.261,0.296
4177,M,0.71,0.555,0.195,1.9485,0.9455,0.3765,0.495

In [44]:
target

0       Rings
1          15
2           7
3           9
4          10
        ...
4173       11
4174       10
4175        9
4176       10
4177       12
Name: Rings, Length: 4178, dtype: object

In [38]:
df2.shape

(4178, 8)

In [45]:
target.value_counts()

9        689
10       634
8        568
11       487
7        391
12       267
6        259
13       203
14       126
5        115
15       103
16        67
17        58
4         57
18        42
19        32
20        26
3         15
21        14
23         9
22         6
24         2
27         2
26         1
2          1
29         1
25         1
1          1
Rings      1
Name: Rings, dtype: int64

In [59]:
num_features = 10

In [61]:
plot_imp(best_features_fscore, feature_importances_fscore, 'F-Score', 'blue')

NameError: name 'plot_imp' is not defined